* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green !important; */
  }
  button{
  border:none;
  }
  .wrapper {
    width: 1440px;
    height: 900px;
    display: flex;
    margin: 20px auto;
    border-radius: 24px;
    /* background-color: #fff; */
  }
  .partImage img {
    width: 984px;
    height: 900px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    /* background-color: #fff; */
  }
  .partInputs {
    width: 456px;
    height: 900px;
    background-color: #fff;
    padding: 48px;
  
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .head {
    width: 360px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 48px;
  }
  .form {
    & h2 {
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      text-align: left;
    }
    & .frame {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      & p {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
        color: #1a1a1a;
        width: 124px;
      }
      & .navigate {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.30000001192092896px;
        text-align: right;
        color: #007aff;
        width: 172px;
        cursor: pointer;
      }
    }
    & .btnLogin {
   width: 100%;
   height: 48px;
   border-radius:8px;
   background-color: #007aff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color:#fff;
  margin-bottom: 32px;
  margin-top: 48px;
  }
  & .btnGoogle {
      width: 100%;
      height: 48px;
      border-radius:8px;
      background-color: #333333;
     font-size: 15px;
     font-weight: 700;
     line-height: 20px;
     letter-spacing: 0.30000001192092896px;
     text-align: center;
     color:#fff;
     margin-top: 32px;
     margin-bottom: 32px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
  }
  & .links{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  /* width: 195px; */
  height: 20px;
  margin-left: 65px;
  & p{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  /* width: 122px; */
  }
  & .register{
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.30000001192092896px;
      text-align: right;
      color: #007aff;
      cursor: pointer;
  }
  }
  }
  .input{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border:1px solid #CACACA;
    outline: none;
    padding: 11px;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color:#808080;
    background-color: #F2F2F2;
    }
    .label{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #353535;
    }